body {
    background-color: black;
    min-height: 100vh;
    color: white;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-image: url(background.png);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

#header {
    font-size: 8vh;
    text-align: center;
}

#presents {
    width: auto;
    margin: 8px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    padding: 8px;
}
.present {
    margin-bottom: 8px;
}
.links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.links a {
    color: white;
    background-color: black;
    box-shadow: 0 4px 0 0 gray;
    text-decoration: none;
    padding: 4px;
    border-radius: 4px;
    transition: 0.2s;
    margin-top: 0;
    margin-bottom: 4px;
    margin-left: 8px;
    margin-right: 8px;
}
.links a:active {
    box-shadow: 0 0 0 0 black;
    margin-top: 4px;
    margin-bottom: 0px;
}

#subtitle {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
    background: rgb(255,0,0);
    background: linear-gradient(137deg, rgba(255,0,0,1) 0%, rgba(255,82,0,1) 15%, rgba(255,178,0,1) 31%, rgba(0,255,14,1) 48%, rgba(39,216,255,1) 65%, rgba(13,0,255,1) 83%, rgba(147,0,255,1) 100%); 
    background-clip: text;
    color: transparent;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 2px;
    font-size: 4em;
    font-variant: small-caps;
    -webkit-text-stroke: 2px black;
}